* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    list-style: none;
}

.content {
    display: flex;
    flex-direction: column;
}

.background-image {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
}

.main-image {
    max-width: 97%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
}

.text-container h1 {
    font-size: 27px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}

.text-container {
    font-size: 17px;
    font-weight: 300;
    margin-top: 50%;
    padding: 10px 30px;
    max-width: 290px;
    letter-spacing: 0.5px;
    display: inline-block;
}

.text-container button {
    padding: 5px 20px;
    background: #FFAECF;
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
    letter-spacing: 0.5px;
}

.line {
    height: 2px;
    width: 300px;
    background: linear-gradient(to right, #FFAECF 50%, rgba(255, 174, 207, 0) 100%);
    margin-top: 8%;
}



/* SECTION CARDS BENEFICIOS*/


.benefits-section {
    max-width: 80%;
    margin: 0 auto;
    padding: 40px 0px;
}

.benefits-title {
    text-align: center;
    margin-bottom: 20px;
}

.benefits-title h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.benefits-title p {
    font-size: 16px;
    letter-spacing: 0.5px;
}

.carousel-cards {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.benefits-box {
    border: 2px solid #FFAECF;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 20px;
    letter-spacing: 0.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px !important;
    margin-right: 10px;
}
.title-card-benefits{
    font-weight: bold;
}

.carousel-cards .slick-prev.slick-arrow:before,
.carousel-cards .slick-next.slick-arrow:before {
    display: none !important;
}

.carousel-cards .slick-dots {
    position: absolute !important;
    bottom: -40px !important;
    width: 100% !important;
    text-align: center !important;
    list-style-type: none !important;
}

.carousel-cards .slick-dots li {
    display: inline-block !important;
    margin: 0 5px !important;
}

.carousel-cards.slick-dots li button {
    font-size: 0 !important;
    width: 10px !important;
    height: 10px !important;
    background-color: #000 !important;
    border: none !important;
    border-radius: 50% !important;
    opacity: 1 !important;
    cursor: pointer !important;
}

.carousel-cards .slick-dots li.slick-active button {
    height: 24px !important;
    width: 8px !important;
    border-radius: 20px !important; 
    background-color: transparent !important;
    border: 2px solid #000 !important;
    transform: rotate(45deg) !important;
    align-items: center !important;
    margin-bottom: -5px;
}
.carousel-cards .slick-dots li button:before{
    display: none !important;
}


/* DOWNLOAD */

.link-download{
    text-align: center;
    background: #FFAECF;
    padding: 30px;
}
.link-download a{
    font-size: 20px;
    font-weight: bold;
    color: #000;
}



/* section slide */

.image-wrapper{
    max-width: 100vw;
}
.image-wrapper img{
    width: 100%;
    object-fit: cover;
}

/* BANER SLIDE */

.banner-slider {
    padding: 6% 10%;
}
.slide-content{
    max-width: 100%;
}
.slide-content h2{
    margin-bottom: 10px;
    text-align: center;
}


.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%);
    z-index: 0; 
}


.number {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    border: solid 1px #ffff;
    border-radius: 50%;
    z-index: 1;
    color: #fff;
    font-weight: bold;
}


.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 1;
    font-size: 16px;
    width: 60%;
}

.slick-prev.slick-arrow:before {
    content: ' ' ; 
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 24px !important; 
    background: url('../Polygon 2.png') center center no-repeat;
}

.slick-next.slick-arrow:before {
    content: ' ' ; 
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 24px !important; 
    background: url('../Polygon 1.png') center center no-repeat;
}
.slick-next:before {
    font-family: initial !important;
}
.slick-prev:before {
    font-family: initial !important;
}
.slick-dots {
    position: absolute !important;
    bottom: -50px !important;
    width: 100% !important;
    text-align: center !important;
    list-style-type: none !important;
}

.slick-dots li {
    display: inline-block !important;
    margin: 0 5px !important;
}

.slick-dots li button {
    font-size: 0 !important;
    width: 10px !important;
    height: 10px !important;
    background-color: #000 !important;
    border: none !important;
    border-radius: 50% !important;
    opacity: 1 !important;
    cursor: pointer !important;
}

.slick-dots li.slick-active button {
    height: 28px !important;
    border-radius: 20px !important; 
    background-color: transparent !important;
    border: 2px solid #000 !important;
    transform: rotate(45deg) !important;
    align-items: center !important;
    margin-bottom: -5px;
}


/* SECTION REGRAS */

.cashback-rules {
    background-size: cover;
    background-image: url('../imageGR.png');
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    height: auto;
    padding: 50px;
    color: #fff;
    margin-top: 20px;
}

.rules-container {
    max-width: 950px;
    margin: 0 auto;
}

.rules-title{
    margin-bottom: 20px;
    font-size: 20px;
}

.rule-item{
    margin-bottom: 10px;
    font-size: 14.5px;
}
.rules-button.center {
    display: block;
    margin: 0 auto;
    padding: 7px 25px;
    background: #FFAECF;
    font-size: 18px;
    font-weight: 300;
    margin-top: 50px;
    letter-spacing: 0.5px; 
    cursor: pointer;
}


/* FAQ */

.faq-section {
    padding: 0px 10% 0 10%;
    margin: 3% 0px;
}

.faq-section .faq-item {
    border-bottom: 2px solid #d1d0d0;
}

.question-icon {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
}

.question-icon span {
    font-weight: bold;
    margin-bottom: 10px;
}

.icon-plus {
    cursor: pointer;
    color: #d1d0d0;
    font-weight: bold;
}

.answer-faq {
    display: none;
    margin-bottom: 20px;
}